<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ERROR: Invalid Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/site.css">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <br><br><br><br>
        <h1 class="lost">Did you get lost?</h1>
        <img class="arrows" src="/images/arrow.png" alt="arrow"/>
        <h2 class="back">CLICK <a href="/"><b>HERE</b></a> TO GO BACK</h2>
    </body>
</html>